<a href="https://colab.research.google.com/github/Hwarriach/KAG-Conversion-Project/blob/main/KAG_Conversion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [75]:
## Import & Load Data

data_file = 'KAG_Conversion_Data.csv'
import numpy as np

data = np.genfromtxt(data_file, delimiter=",", skip_header=1)
data1 =np.genfromtxt(data_file, delimiter=",", skip_header=1,dtype='str')

In [5]:
data.shape

(1143, 11)

In [78]:
## Find how many unique ad campaigns

ad_campaigns = data[:,1]
unique_ad_campaigns = len(set(ad_campaigns))
print("Number of unique ad campaigns :",unique_ad_campaigns)

Number of unique ad campaigns : 3

In [32]:
## Number of times each ad campaign was run

ad_cam = np.unique(ad_campaigns)
for i in ad_cam:
  count = len(ad_campaigns[ad_campaigns==i])
  print(count)

54
464
625

In [88]:
## The age groups that were targeted through the ad campaigns 

age = data1[:,3]
unique_age = np.unique(age)
print("Targeted age groups :", unique_age[0],",",unique_age[1],",", unique_age[2],",", unique_age[3])

Targeted age groups : 30-34 , 35-39 , 40-44 , 45-49

In [91]:
# Avg, min, and max amount spend on ads

spent = data[:,8]

min_spent = spent.min()
max_spent = spent.max()
avg_spent = spent.mean()

print("Min spent :", min_spent)
print("Max spent :", max_spent)
print("Avg spent :", avg_spent)

Min spent : 0.0
Max spent : 639.9499981
Avg spent : 51.36065613141295

In [93]:
## ID of the ad having the max number of clicks

clicks = data[:,7]
ad_id = data[:,0]

max_clicks = clicks.max()
max_id = np.extract(clicks==max_clicks,ad_id)

print("ID :", max_id[0])

ID : 1121814.0

In [74]:
## How many purchases with the most ad clicks

buy = data[0:,-1]

numberbuy = np.extract(clicks==max_clicks,buy)
print('purchases with the most ad clicks :', numberbuy[0])

purchases with the most ad clicks : 13.0

In [94]:
## Unique columns

fb = data1[:,2]
gender = data1[:,4]
interest = data1[:,5]
impression = data1[:,6]
totalconversion = data1[:,-2]

l = [ad_id,ad_campaigns, age,spent, clicks,buy,fb,interest, impression, totalconversion,gender]
s = ['ad_id','ad_campaigns', 'age','spent', 'clicks','buy','fb','interest', 'impression', 'totalconversion','gender']

In [97]:
#Details of the product having the highest number of purchases

maxbuy = buy.max()
print('Highest number of purchases :', maxbuy)
print('The product details are below :')

for xyz in l:
  detail = np.extract(buy==maxbuy, xyz)
  print('-',detail[0])

Highest number of purchases : 21.0
The product details are below :
- 1121104.0
- 1178.0
- 30-34
- 360.1500015
- 202.0
- 21.0
- 144533
- 16
- 2080666
- 40
- M